<% provide(:title, 'Home') %>
<h1>Weblog</h1>
<p>
	This is the home page for a weblog created using 
	<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
	as the foundation... More or less.
</p>
